@import "src/styles/variables.scss";

.input-title {
  font-size: var(--font-13);
  color: var(--grey-900);
  font-weight: 500;
  margin-bottom: var(--spacing-6);
}

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  box-sizing: border-box;
  font-size: var(--font-13);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--grey-800);
  padding-left: var(--spacing-0);
  padding-right: var(--spacing-32);
  padding-bottom: var(--spacing-4);

  &:focus {
    border-color: var(--primary-color);
  }
}

.input-text-after {
  position: absolute;
  right: 0px;
  background-color: var(--white-color);
  color: var(--grey-main);
  font-size: var(--font-13);
  font-weight: 500;
  letter-spacing: -0.3px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
