html {
  /* colors */
  --app-color: #194f9e;
  --black-color: #000;
  --white-color: #fff;

  /* typography */
  --font-10: 10px;
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-24: 24px;
  --font-32: 32px;

  /* gaps */
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;

  /* borders */
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-raduis-lg: 8px;
}
